/* This file will hold styles for poi content type. */
/*  */


body.node-type-poi div#results_content {
	margin: 4px;
}

body.node-type-poi div#results {
	/*width: 840px;*/
}

body.node-type-poi div#results img {
	margin: 4px;
	box-shadow: 0 5px 5px -3px #333;
}

body.node-type-poi div#info {
	margin: 2px;
}

body.node-type-poi div.field-name-poi-image div.field-item.even {
	float: left;
	border: 0px solid #bbb;
}

body.node-type-poi div.field-name-poi-image div.field-item.odd {
	float: left;
	border: 0px solid #bbb;
}

body.node-type-poi div.field-name-poi-image img {
	margin: 4px;
	box-shadow: 0 5px 5px -3px #333;
}

body.node-type-poi form#flickr-search-form {
	clear: both;
}
